/* 404 Area Start */

.four-zero-four {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	align-self: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #070b28;
	position: relative;
}

.four-zero-four .bg-img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.four-zero-four .content {
	text-align: center;
}

.four-zero-four .content img {
	display: inline-block;
	margin-bottom: 50px;
}

.four-zero-four .content .inner-content .title {
	font-size: 36px;
	line-height: 46px;
	font-weight: 700;
	color: #dfe3ff;
}

.four-zero-four .content .inner-content .mybtn1 {
	margin-top: 38px;
	display: inline-block;
}


/* 404 Area End */