/* Breadcrumb Area Start */
.breadcrumb-area {
	padding: 310px 0px 186px;
	background: #070b28;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

.breadcrumb-area.about {
	padding: 260px 0px 135px;
}

.breadcrumb-area.about .bc-img {
	position: absolute;
	right: 0px;
	bottom: 0px;
	max-width: 40%;
}

.breadcrumb-area.bc-faq {
	padding: 260px 0px 135px;
}

.breadcrumb-area.bc-faq .title {
	margin-bottom: 23px;
}

.breadcrumb-area.bc-faq .bc-img {
	position: absolute;
	right: 0px;
	bottom: 0px;
	max-width: 42%;
}

.breadcrumb-area.play {
	padding: 260px 0px 277px;
}

.breadcrumb-area.play .bc-img {
	position: absolute;
	right: 0px;
	bottom: 0px;
	max-width: 55%;
}

.breadcrumb-area.bc-lottery {
	padding: 260px 0px 193px;
}

.breadcrumb-area.bc-lottery .bc-img {
	position: absolute;
	right: 0px;
	bottom: 0px;
	max-width: 52%;
}

.breadcrumb-area.cart {
	padding: 260px 0px 135px;
}

.breadcrumb-area.cart .bc-img {
	position: absolute;
	right: 0px;
	bottom: 0px;
	max-width: 42%;
}

.breadcrumb-area.bc-tournaments {
	padding: 260px 0px 135px;
}

.breadcrumb-area.bc-tournaments .bc-img {
	position: absolute;
	right: 150px;
	bottom: 0px;
	max-width: 25%;
}

.breadcrumb-area.bonus {
	padding: 260px 0px 135px;
}

.breadcrumb-area.bonus .bc-img {
	position: absolute;
	right: 150px;
	top: 160px;
}

.breadcrumb-area.bonus {
	padding: 260px 0px 135px;
}

.breadcrumb-area.bonus .bc-img {
	position: absolute;
	right: 150px;
	top: 160px;
	max-width: 36%;
}

.breadcrumb-area.bc-awards {
	padding: 260px 0px 135px;
}

.breadcrumb-area.bc-awards .bc-img {
	position: absolute;
	right: 0px;
	bottom: 0px;
	max-width: 50%;
}

.breadcrumb-area.h-i-w {
	padding: 260px 0px 135px;
}

.breadcrumb-area.h-i-w .bc-img {
	position: absolute;
	right: 0px;
	bottom: 0px;
	max-width: 48%;
}

.breadcrumb-area.bc-contact {
	padding: 260px 0px 135px;
}

.breadcrumb-area.bc-contact .bc-img {
	position: absolute;
	right: 0px;
	bottom: -35px;
	max-width: 27%;
}

.breadcrumb-area.bc-affiliate {
	padding: 260px 0px 212px;
}

.breadcrumb-area.bc-affiliate .bc-img {
	position: absolute;
	right: 0px;
	bottom: 0px;
	max-width: 55%;
}

.breadcrumb-area.bc-terms {
	padding: 260px 0px 190px;
}

.breadcrumb-area.bc-terms .bc-img {
	position: absolute;
	right: 0px;
	bottom: 0px;
	max-width: 46%;
}

.breadcrumb-area .title {
	font-size: 70px;
	line-height: 80px;
	font-weight: 700;
	margin-bottom: 11px;
	text-transform: uppercase;
	color: #fff;
}

.breadcrumb-area .title.extra-padding {
	margin-bottom: 26px;
}

.breadcrumb-area .breadcrumb-list li {
	display: inline-block;
}

.breadcrumb-area .breadcrumb-list li span {
	margin: 0px 7px;
	color: #fff;
}

.breadcrumb-area .breadcrumb-list li a {
	font-size: 16px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	color: #fff;
}

.breadcrumb-area .breadcrumb-list li a:hover {
	color: #f1f1f1;
}

.breadcrumb-area .breadcrumb-list li a.active {
	color: #f1f1f1;
}